.header {
  height: 10vh;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 32px;
  .green-item {
    color: $green;
  }
  .white-item {
    color: white;

  }
}
