.title {
  display: flex;
  padding: 5px;
  margin-top: 20px;
  font-size: 48px;
  justify-content: space-between;
  .name {
    color: white;
    border: 15px solid;
    border-color: white;
    padding: 10px
  }

  .links {
    color: white;
    :link {
      color: white;
    }
    :hover{
      text-decoration: none;
      color: $green;
    }
    :active {
      text-decoration: none;
      color: $green;
    }

    :visited {
      text-decoration: none;
      color: white;
    }
  }


}
